# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Claudia files\Facultate\AN 2\Semestrul 2\Programare Avansata pe Obiecte\Laborator\Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
